{% extends 'global/base.html' %}


{% block title %}{{ page_title }} |{% endblock title %}

{% block content %}

    {% comment %} <div class="center">
    <h2>O usuário pesquisou por {{ search_term  }}</h2>
    </div> {% endcomment %}
  <div class="main-content container main-content-list">

    {% for recipe in recipes %}
      {% include 'recipes/partials/recipes.html' %}

      {% empty %}
      <div class="center m-y">
        <h1>No recipes found here 😢</h1>
      </div>
    {% endfor %}
  </div>
{% endblock content %}

